* {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "lato", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-image: url(/resources/images/18721.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background: lightgray;
}

.paragraph-style {
  font-size: 14;
}

.aside {
  flex: 1;
  width: 200px;
  background: rgba(196, 183, 211, 0.877);
  padding: 10px;
  margin: 10px;

  padding: 10px;
  box-shadow: 5px 10px #888888;
}

#main {
  flex: 2;
  width: 600px;
  /* height: 100%; */
  background: rgb(174, 103, 233);
  margin: 10px;
  padding: 10px;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}
.title {
  font: 800;
  width: 100%;
  padding: 10px;
  display: block;
  float: left;
}

.title h1 {
  font-family: "Press Start 2P", cursive;
}

img {
  width: 300px;
  height: 300px;
}
img.heart {
  width: 4.5em;
  height: 2.5em;
}
.lose {
  display: none;
}

h1 {
  font: 700;
  font-size: 24px;
}

.nav {
  width: 100px;
  margin: 10px;
  justify-items: center;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

button.reset-game {
  color: white;
  background: rgba(130, 52, 233, 0.897);
  /* margin: 10px; */
  padding: 10px;
  width: 135%;
  font-size: 10px;
}

button.reset-game :hover {
  background-color: rgb(174, 103, 233);
}

.next-word button {
  color: white;
  background: green;
  margin: 10px;
  padding: 2px;
}
#alphabet {
  margin: 15px auto;
  padding: 0;
  max-width: 900px;
}
#alphabet .letters .list-hidden {
  font-family: "Press Start 2P", cursive;
}

#alphabet .letters li {
  float: left;
  margin: 10px 10px 0;
  list-style: none;
  width: 35px;
  height: 35px;
  padding: 10px;
  background: rgb(174, 103, 233);
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 700;
  padding: 10px;
  box-shadow: 2px 4px #888888;
  font-family: "Press Start 2P", cursive;
  
}

#alphabet body .letters li {
  font-family: "Press Start 2P", cursive;
}

#alphabet .letters li:hover {
  background-color: rgb(10, 62, 131);
}

#input {
  display: block;
}

#input .lives-message {
  font-size: 1.6em;
  text-align: center;
  display: block;
  padding: 10px;
  background: rgba(71, 92, 209, 0.8);
}
/* definitely gonna have to refactor the CSS */
#input .my-word {
  margin: 0;
  padding: 0;
  display: inline;
  font: 1.5em;
}

.hidden {
  display: none;
}
#hold {
  display: inline;
  font: 800;
  font-size: 24px;
}

#input .my-word li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 10px;
  font-size: 1.6em;
}

.my-word {
  padding: 10px;
  background: rgba(174, 103, 233, 0.8);
}

.my-word .list {
  display: inline-block;
  padding: 10px;
  font-size: 24;
  line-height: 24px;
  width: 45px;
  background: white;
  margin-right: 25px;
  margin-left: 25px;
  font-family: "Press Start 2P", cursive;
}

.my-word .list-hidden {
  /* display: none; */
  font-size: 24px;
  margin-left: 25px;
  margin-right: 25px;
  width: 45px;
  outline-style: dotted black;
  background: rgb(70, 66, 66);
  color: rgb(70, 66, 66);
  font-family: "Press Start 2P", cursive;
  webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.my-word .list-hidden li {
  padding: 10px;
}

@media only screen and (max-width: 920px) {
  body {
    text-align: center;
    background-image: url(/resources/images/18721.jpg);
    height: auto;
    background-repeat: repeat-y;
    background-size: cover;
    padding: 10px;
  }

  .container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background: lightgray;
  }
  .paragraph-style {
    font-size: 14;
  }

  .aside {
    flex: 1;
    width: 200px;
    background: rgba(196, 183, 211, 0.877);
    padding: 10px;
    margin: 10px;
  }

  .reset-game button {
    color: white;
    background: green;
    margin: 10px;
    padding: 2px;
    width: 30%;
  }

  .my-word .list-hidden {
    /* display: none; */
    font-size: 18px;
    /* margin-left: 25px;
    margin-right: 25px; */
    /* width: 45px; */
    outline-style: dotted black;
    background: rgb(70, 66, 66);
    color: rgb(70, 66, 66);
    webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

  #alphabet .letters .list {
    align-items: center;
    font-family: "Press Start 2P", cursive;
    padding: 0;
    max-width: 100%;
    font-family: "Press Start 2P", cursive;
  }
}
