* {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "lato", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-image: url(/resources/images/18721.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  opacity: unset;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  background: lightgray;
}

.paragraph-style {
  font-size: 14;
}

.aside {
  flex: 1;
  width: 200px;
  background: rgba(196, 183, 211, 0.877);
  padding: 10px;
  margin: 10px;
}

#main {
  flex: 2;
  width: 700px;
  height: 30vh;
  background: rgb(174, 103, 233);
  margin: 10px;
}

img {
  width: 200px;
}

.lose {
  display: none;
}

h1 {
  font: 700;
  font-size: 24px;
}

.nav {
  width: 100px;
  margin: 10px;
}

.reset-game button {
  color: white;
  background: green;
  margin: 10px;
  padding: 2px;
  width: 30%;
}

.next-word button {
  color: white;
  background: green;
  margin: 10px;
  padding: 2px;
}
#alphabet {
  margin: 15px auto;
  padding: 0;
  max-width: 900px;
}

#alphabet .letters li {
  float: left;
  margin: 10px 10px 0;
  list-style: none;
  width: 35px;
  height: 35px;
  padding: 10px;
  background: rgb(174, 103, 233);
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 700;
}

#alphabet .letters li:hover {
  background-color: rgb(10, 62, 131);
}

#input {
  display: block;
}

#input .lives-message {
  font-size: 1.6em;
  text-align: center;
  display: block;
  padding: 10px;
}

#input .my-word {
  margin: 0;
  padding: 0;
  display: inline;
  font: 1.5em;
}

.hidden {
  display: none;
}
#hold {
  display: inline;
  font: 800;
  font-size: 24px;
}

#input .my-word li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 10px;
  font-size: 1.6em;
}

.my-word {
  padding: 20px;
}

.my-word .list {
  display: inline-block;
  padding: 10px;
  font-size: 24;
  line-height: 24px;
  background: white;
  margin: 25px;
  
}

.my-word .list-hidden {
  /* display: none; */
  font-size: 24px;   
  margin: 25px;
  width: 45px;
  outline-style: dotted black;
  background: rgb(70, 66, 66);
  color: rgb(70, 66, 66);
}

.my-word .list-hidden li{
  padding: 10px;
}